h1 a {
        color: #FCA205;	
	font-family: 'Press Start 2P', cursive;
}
h2 a {
        color: #000000;	
	font-family: 'Press Start 2P', cursive;
}
body {
	width: 95%;
	height: 100%;
  	margin: 0 auto;
	background-color: #909090;
	color: #000000;
        padding-left: 15px;
	font-size: 20pt;
	font-family: 'Marvel', sans-serif;
	text-align: justify;
}
.page-header {
        background-color: #e82126;
        margin-top: 0;
        padding: 20px 20px 20px 40px;
	border: red 10px outset;
}
.navv {
        background-color: #E2FF2A;
        margin-top: 0;
        padding: 20px 20px 20px 40px;
}
html {
    height: 100%;
}

.caja2{ 
	margin-top: 20px;
	margin-right: 100px;
	text-align: center;
	color: #000000;
	float:left; 
	height: 2000px; 
	width: 400px;
	font-size: 30pt;
	background-color: #e82126;
	border: black 10px outset;
} 

.barra{
   list-style-type: none;
   text-align: center;
   background-color: #e82126;
   border: black 10px outset;
   font-size: 20pt;
   word-spacing: 300px;
}
 .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
        color: #000000;
        font-size: 48pt;
        text-decoration: none;
    }

 .page-header h2, .page-header h2 a, .page-header h2 a:visited, .page-header h2 a:active {
        color: #000000;
        font-size: 24pt;
        text-decoration: none;
    }
    .content {
	margin: auto;
	min-height: 100%;
        margin-left: 50px;
    }

    h1, h2, h3, h4 {
        font-family: 'Press Start 2P', cursive;
       	color: #000000;	
    }

    .date {
        float: right;
        color: #000000;
    }

    .save {
        float: right;
    }

    .post-form textarea, .post-form input {
        width: 100%;
    }

    .top-menu, .top-menu:hover, .top-menu:visited {
        color: #ffffff;
        float: right;
        font-size: 26pt;
        margin-right: 20px;
    }

    .top-text {
        color: #000000;
        float: right;
        font-size: 26pt;
        margin-right: 20px;
    }

    .post {
        margin-bottom: 70px;
    }

    .post h1 a, .post h1 a:visited {
        color: #000000;
    }

    .caja3{ 
	margin-top: 20px;
	margin-left: 100px;
	font-size: 30pt;
	color: #000000;
	float:right; 
	height:2000px;
	width: 400px; 
	background-color: #e82126;
	text-align: center;
	border: black 10px outset;
} 
